// Homepage banner
// ===
//

.c-banner {
  display: flex;
  height: 150px;
  position: relative;
  background-color: $color-blue-sail;
  background-size: cover;

  @media (min-width: $xsmall) {
    height: 200px;
  }

  @media (min-width: $small) {
    height: 250px;
  }

  @media (min-width: $medium) {
    background-size: contain;
    background-repeat: repeat;
  }
}

.c-banner__logo {
  width: 80%;
  margin: auto;
  display: block;

  position: relative;
  z-index: 10;

  @media (min-width: $small) {
      width: 600px;
  }
}
