/*
|--------------------------------------------------------------------------
| Map
|--------------------------------------------------------------------------
|
| stylings for the google
|
|
*/

#et_main_map, #map_canvas {
  height: 550px;
}

#et_main_map img, #et-single-map img {
  max-width: none;
}

/* marker on homepage */

.et_marker_info {
  opacity: 0;
  bottom: 50px;
  position: absolute;
  z-index: 3;
  display: none;
  background-color: $color-white;
}

.location-description {
  width: 240px;
  text-align: center;
  -webkit-box-shadow: 0 3px 20px $color-black;
  -moz-box-shadow: 0 3px 20px $color-black;
  box-shadow: 0 3px 20px $color-black;
}

.location-title {
  -webkit-box-shadow: inset 0 3px 7px $color-black;
  -moz-box-shadow: inset 0 3px 7px $color-black;
  box-shadow: inset 0 3px 20px $color-black;
  border: 1px solid $color-black;
  border-bottom: none;
}

.location-title h2 {
  color: $color-black-mineshaft;
  text-shadow: 1px 1px 0 $color-white;
  border-bottom: 1px solid $color-white-ice;
  padding: 19px 35px;
}

.listing-info {
  margin-bottom: -22px;
  padding: 0 36px;
}

/****************************************
	Sliders
*****************************************/

.et-slider-arrows a {
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  opacity: 0;
  position: absolute;
  text-indent: -9999px;
  top: 125px;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 28px;
}
#et-slider-wrapper .et-arrow-prev {
  background-image: url("assets/images/et-left-arrow.png");
  left: 60px;
}
#et-slider-wrapper .et-arrow-next {
  background-image: url("assets/images/et-right-arrow.png");
  right: 60px;
}
#et-slider-wrapper:hover .et-slider-arrows a {
  opacity: 1;
}
#et-slider-wrapper:hover .et-arrow-prev {
  left: -60px;
}
#et-slider-wrapper:hover .et-arrow-next {
  right: -60px;
}

#et-slider-wrapper::before {
  content: "";
  height: 100%;
  left: 39px;
  position: absolute;
  top: 0;
  width: 5px;
}

#et-slider-wrapper::after {
  bottom: -3px;
  content: "";
  height: 3px;
  left: 3px;
  position: absolute;
  width: 474px;
}

#et-slider-wrapper {
  top: 140px;
  width: 400px;
  right: 60%;
  background-clip: border-box;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(48, 73, 102, 0.1) inset;
}

.et-map-slide {
  display: none;
}

.et-map-slide:first-child {
  display: block;
}

.thumbnail::before {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75) inset;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#et-slider-wrapper .thumbnail {
  cursor: move;
  z-index: 2;
}

div.thumbnail {
  background-color: #6ebbe9;
  display: block;
  min-height: 150px;
}

.thumbnail, .et-map-postmeta, .post-thumbnail {
  text-align: center;
}

.thumbnail, .post-thumbnail {
  position: relative;
}

#et-slider-wrapper .et-description {
  top: 44px;
}

#et-slider-wrapper .et-arrow-prev {
  left: 60px;
  background-image: url("assets/images/et-left-arrow.png");
}

#et-slider-wrapper .et-arrow-next {
  right: 60px;
  background-image: url("assets/images/et-right-arrow.png");
}

#et-slider-wrapper:hover .et-slider-arrows a {
  opacity: 1;
}

#et-slider-wrapper:hover .et-arrow-prev {
  left: -60px;
}

#et-slider-wrapper:hover .et-arrow-next {
  right: -60px;
}

#et-slider-wrapper .thumbnail {
  z-index: 2;
  cursor: move;
}

.et-description, .post-description {
  position: absolute;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  top: 90px;
  width: 100%;
}

.et-description h1 a, .post-description h2 a {
  color: inherit;
  text-decoration-color: -moz-use-text-color;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.et-map-postmeta {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(228, 228, 228, 1) 100%);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: #d0d0d0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
  color: #9e9e9e;
  font-size: 12px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  text-shadow: 1px 1px 0 #fff;
}

.thumbnail, .et-map-postmeta, .post-thumbnail {
  text-align: center;
}

.et-place-content {
  padding-top: 5px;
}

.et-place-content {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #fff;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #fff;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

/*.et-map-post .viewport { width: 350px; height: 200px; overflow: hidden; position: relative; }*/
/*.et-map-post .overview, #et-list-view .overview { list-style: none; position: absolute; left: 0; top: 0; }*/
/*.et-map-post .thumb .end, .et-map-post .thumb, #et-list-view .end, #et-list-view .thumb { background-color: #003D5D; }*/
.et-map-post .scrollbar, #et-list-view .scrollbar { position: relative; float: right; width: 5px; }
.et-map-post .scrollbar {
  margin-right: 24px;
}

/*#et-list-view .scrollbar { margin-top: 16px; }*/
/*.et-map-post .track, .et-map-post .thumb, #et-list-view .track, #et-list-view .thumb { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }*/
/*.et-map-post .track, #et-list-view .track { background: #eee; background: rgba( 0,0,0,0.05 ); height: 100%; width: 5px; position: relative; }*/
/*.et-map-post .thumb, #et-list-view .thumb { background: #555; background: rgba( 46,110,169,0.2 ); height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }*/
/*#et-list-view .thumb { background: rgba( 60,60,60,0.2 ); }*/
/*.et-map-post .disable, #et-list-view .disable { display: none; }*/
.et-map-post {
  width: 480px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 160px;
  left: 60px;
}