/*
|--------------------------------------------------------------------------
| Tables
|--------------------------------------------------------------------------
|
|
|
|
*/
table.em-calendar thead{
  font-weight: normal;
}

thead:first-child tr th {
  color: inherit;
}