/*
|--------------------------------------------------------------------------
| Tables
|--------------------------------------------------------------------------
|
|
|
|
*/
table.em-calendar thead {
  font-weight: normal;
}

thead:first-child tr th {
  color: inherit;
}

[class*="column"] + [class*="lastfix"]:last-child {
  float: none;
}

@media (min-width: $small) {
  table.widefat.events-table {
    table-layout: fixed;
  }
}

table {
  th, td {
    padding: 1em 0;
    line-height: 1.4em;
    font-size: $font-size - 2;
  }
  td {
    vertical-align: top;
  }
}