
$color-white: #ffffff;
$color-white-ice: #e6f4fb;

$color-black: #000000;
$color-black-mineshaft: #333333;
$color-black-mineshaft-dark: #222222;

$color-gray-gallery: #eeeeee;
$color-gray-boulder: #777777;
$color-gray-emperor: #555555;
$color-gray-wildsand: #f5f5f5;

$color-blue-astral: #337ab7;
