/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
|
|
|
*/

// Roboto
@include font-face( 'Roboto', url('dist/fonts/Roboto-Regular.ttf'), 'truetype', 400, normal);
@include font-face( 'Roboto', url('dist/fonts/Roboto-Bold.ttf'), 'truetype', 800, normal);

// Roboto Slab
@include font-face( 'RobotoSlab', url('dist/fonts/RobotoSlab-Regular.ttf'), 'truetype', 400, normal);

// Bootstrap
@font-face {
  font-family: 'Glyphicons';
  src: url('dist/fonts/glyphicons-halflings-regular.eot');
  src: url('dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}