/*
|--------------------------------------------------------------------------
| Global
|--------------------------------------------------------------------------
|
| Common, global elements
|
|
*/


h1, h2, h3, h4, h5, h6, p, label {
  font-family: $font-family;
  color: $neutral-80;
  font-weight: 500;
}

body, body.theme-option{
  background: none no-repeat;
}

h1 {
  font-size: 32px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-family: $font-family-slab;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

h5 {
  font-size: $font-size;
  line-height: 20px;
  font-weight: bold;
}

p, label, li {
  font-size: $font-size;
  line-height: 24px;
}

.row {
  width: 100% !important;
}

// Inputs

// All Text inputs
input[type="text"] {
  padding: $unit*2.5 $unit*3;
  box-shadow: none;
  border: 1px solid $neutral-50;
}

input[type="checkbox"],
input[type="radio"] {
  width: 17px;
  height: 17px;
}
