/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
|
|
|
*/

#filter-bar {
  background-color: #ffffff;
  background-origin: padding-box;
  border-top-color: #7e95b0;
  border-top-style: solid;
  border-top-width: 1px;
  bottom: 0;
  box-shadow: 0 1px 1px #fff inset, 0 3px 7px rgba(0, 0, 0, 0.1) inset;
  left: 0;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 19px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#filter-bar .container {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  text-align: left;
  width: 750px;
}