/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
|
|
|
*/

#header {
  padding: 20px !important;
  border-bottom: 1px solid $neutral-20;
}

#wpadminbar {
  background-color: $color-black-mineshaft-dark;
}

#header {
  min-height: 70px;
  padding-top: 10px;
  padding-top: 10px;
  background: $color-white;
}
