/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
|
|
|
*/

#wpadminbar {
  background-color: $color-black-mineshaft-dark;
}

#header {
  min-height: 70px;
  padding-top: 10px;
  padding-top: 10px;
  background: $color-white;
}

#main-menu-wrap {
  padding-right: 150px;
}
