/*
|--------------------------------------------------------------------------
| Nav
|--------------------------------------------------------------------------
|
|
|
|
*/

// inner header nav
.main-menu ul a{
  color: $color-blue-boston;
  &:hover{
    background: none;
  }
}

.base-menu ul li.current-cat a,
.base-menu ul li.current_page_item a,
.base-menu ul li.current-menu-item a {
  background: none;
  font-weight: normal;
}

.top-menu,
.top-wrap .sub-menu,
.item-list-tabs,
thead:first-child tr th,
thead:first-child tr td,
.base-menu ul ul,
.sidebar-activity-tabs ul li.current,
.sidebar-activity-tabs ul li.selected,
.docs .toggle-switch,
.post-title:before,
.doc-content-wrapper .toggle-switch,
.mobile-menu-container,
.info-box h3,
#bbpress-forums li.bbp-header {
  background: $neutral-20;
  border: none;
  box-shadow: none;
}

.base-menu ul a, div.item-list-tabs ul li a, div.item-list-tabs ul li span, #footer-menu ul li a{
  text-shadow: none;
  font-weight: normal;
}

// Grey Nav Bar
// ---
//
// 1. Important to override dynamic styles

.base-menu.sub-menu {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $neutral-40 !important; // 1;
  border-bottom: 1px solid $neutral-40;

  a {
    color: $neutral-80;
  }

  a:focus,
  a:active,
  a:hover {
    color: $brand-blue;
  }

  .menu-item.sfHover {
    color: $brand-blue;
  }
}

#menu-item-1839.sfHover {
  color: $brand-blue;
}

// Post an Event link
// ---
#menu-item-1843 {
  @extend .c-button;
  @extend .c--ghost;

  margin-right: $unit*3;

  a {
    margin: 0;
  }
}

#menu-event-mgmt {
  display: flex;
  align-items: center;
}
