/*
|--------------------------------------------------------------------------
| Profile page
|--------------------------------------------------------------------------
|
|
|
|
*/

#my-locations-personal-li {
  display: none;
}

.item-list-tabs {
  display: none;
}

#item-header {
  display: none;
}

#item-body > div.donut > svg{
  min-width: 600px;
  min-height: 300px;
  width: 100%;
}